.bg-img1{
    background-image: url(../img/down.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.bg-img2{
    background-image: url(../img/down1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.bg-img3{
    background-image: url(../img/down2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}
#banner{
    .swiper-slide {height: auto;}
}